@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}

<main class="page">
    <section class="primeiro">
        <div class="teste1">
            <h1>Iniciativa Saúde da Cidade</h1>
            <p>
                Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
            </p>
            <p>
                Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
            </p>
        </div>

        <div>
            <img class="img-fluid-1" src="/image/img1.jpg" alt="">
        </div>
    </section>
    
    <section class="segunda">
        <div class="teste2">
        <h2>Entre em contato!</h2>
        <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

        <form action="/Home/Cadastrar" method="POST">
            <div>
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="for1"required/>
            </div>
            <div>
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="for2" required/>
            </div>
            <div>
                <label asp-for="Mensagem" class="log">Mensagem (opcional):</label>
                <textarea asp-for="Mensagem" class="for3"></textarea>
            </div>
            <div>
                <input type="submit" class="log1" value="Enviar" />
            </div>
        </form>
        </div>
        
        <div class="teste3">
            <img src="/image/img2.jpg" class="im1">
            <img src="/image/img3.jpg" class="im1">
            <img src="/image/img4.jpg" class="im1">

            <button class="modal-open" data-modal="modal1">Agenda de eventos</button>
            <button class="modal-open" data-modal="modal2">Dicas de vida saudável</button>
            <button class="modal-open" data-modal="modal3">Apoiadores</button>

            <div class="modal" id="modal1">
                <div class="modal-content">
                    <div class="modal-close">x</div>
                    <div class="modal-head"> Agenda</div>
                    <div class="modal-body">10/10/10 10:10 - evento 1 <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam suscipit ipsam quam praesentium eveniet architecto fuga maiores odio quas fugit similique eum facere, labore veniam accusantium corporis beatae numquam?
                    <br><br>10/10/10 10:10 - evento 1 <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam suscipit ipsam quam praesentium eveniet architecto fuga maiores odio quas fugit similique eum facere, labore veniam accusantium corporis beatae numquam?
                    <br><br>10/10/10 10:10 - evento 1 <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum totam suscipit ipsam quam praesentium eveniet architecto fuga maiores odio quas fugit similique eum facere, labore veniam accusantium corporis beatae numquam?
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>

            <div class="modal" id="modal2">
                <div class="modal-content">
                    <div class="modal-close">x</div>
                    <div class="modal-head">Apoiadores</div>
                    <div class="modal-body-1">
                    <img src="/image/img2.jpg" class="imgModal"> Empresa 1 <br> descrição
                    <img src="/image/img2.jpg" class="imgModal"> Empresa 1 <br> descrição
                    <img src="/image/img2.jpg" class="imgModal"> Empresa 1 <br> descrição
                    <img src="/image/img2.jpg" class="imgModal"> Empresa 1 <br> descrição
                    </div>
                    <div class="modal-footer"></div>
                </div>
            </div>

            <div class="modal" id="modal3">
                <div class="modal-content">
                    <div class="modal-close">x</div>
                    <div class="modal-head"> Dicas de vida saudável</div>                    
                    <div class="modal-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis reprehenderit officia, eaque nihil quae quam obcaecati quisquam laudantium error, facere quia. Qui exercitationem voluptates molestias beatae! Doloribus est ipsum facere! <br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit numquam quos harum quidem, sequi sint voluptatum quia nisi fugiat commodi temporibus culpa. Blanditiis nam fugit recusandae id reprehenderit quae neque. <br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, modi nobis tenetur numquam aspernatur obcaecati nihil ab dicta laborum quaerat corrupti voluptates animi laboriosam pariatur consequatur voluptatibus quia fugiat aliquid. </div>
                    <div class="modal-footer"></div>
                </div>
            </div>

        </div>
    </section>
</main>

<script>
    var modalBtns = document.querySelectorAll(".modal-open");

    modalBtns.forEach(function(btn){
        btn.onclick = function(){
            var modal = btn.getAttribute("data-modal");

            document.getElementById(modal).style.display = "block";
        };
    });

    var closeBtns = document.querySelectorAll(".modal-close");

    closeBtns.forEach(function(btn){
        btn.onclick = function(){
            var modal = (btn.closest(".modal").style.display = "none"); 
        };
    });

    window.onclick = function(e){
        if(e.target.classList.contains("modal")){
           e.target.style.display = "none";
        }
     };
  
</script>

