/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.teste1{
  font-size: 23px;
  padding: 1em;
}

.teste2{
  border:1px solid #3c3c3c;
  padding: 1em;
  margin: 20px;
}

.img-fluid-1{
  height: 500px;
  width: 969px;
}

.teste3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
}


.primeiro{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.segunda{
  display: grid;
  grid-template-columns: 1fr 2fr;
  font-size: 20px;
}

.for1{
  position: relative;
  left: 127px;
  margin-bottom: 5px;
  padding: 9px;
  width: 190px;
}

.for2{
  position: relative;
  left: 127px;
  margin-bottom: 5px;
  padding: 9px;
  width: 190px;
}

.for3{
  position: relative;
  left: 1px;
  margin-bottom: 5px;
  padding: 9px;
  width: 190px;
  height: 100px;
}

.log{
  position: relative;
  top: -100px;
}

.log1{
  position: relative;
  left: 344px;
}

.im1{
  height: 200px;
  width: 200px;
}

.bom{
  text-align: center;
  font-size: 50px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
